<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"/>
</head>
<body>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>

<div class="row">
    <div class="col-md-8 mx-auto">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/product}" th:text="Product"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/person}" th:text="Person"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ordering}" th:text="Ordering"></a>
            </li>
        </ul>
    </div>
</div>


<form action="#" th:action="@{/ordering}" method="post" th:object="${ordering}">
    <div class="mb-3">
        <label class="form-label">Id person</label>
        <input type="text" class="form-control" id="person_id" name="person_id"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Id product</label>
        <input type="text" class="form-control" id="product_id" name="product_id"/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn-primary">Add</button>
    </div>
</form>

<div>
    <h1>List of ordering</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Person id</th>
            <th>Product id</th>
            <th>Cost</th>
            <th>Date</th>
        </tr>
        <tr th:each="ordering : ${orderings}">
            <td th:text="${ordering.id}">...</td>
            <td th:text="${ordering.person_id}">...</td>
            <td th:text="${ordering.product_id}">...</td>
            <td th:text="${ordering.cost}">...</td>
            <td th:text="${ordering.date}">...</td>
        </tr>
    </table>
</div>
</body>
</html>