<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"/>
</head>
<body>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>

<div class="row">
    <div class="col-md-8 mx-auto">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/product}" th:text="Product"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/person}" th:text="Person"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ordering}" th:text="Ordering"></a>
            </li>
        </ul>
    </div>
</div>

<form action="#" th:action="@{/person}" method="post" th:object="${person}">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" id="id" name="id"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name"/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn-primary">Add</button>
    </div>
</form>

<div>
    <h1>List of person</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:text="${person.id}">...</td>
            <td th:text="${person.name}">...</td>
        </tr>
    </table>
</div>
</body>
</html>